*{
    padding: 0;
    margin: 0;
}
.mainpage{
    min-height:100vh ;
    width: 100%;
    background-image:linear-gradient(rgba(5, 0, 0, 0.915),rgba(4,9,30,0.2)),url("iiitn image.jpg");
    background-size: cover;   
    background-repeat: no-repeat;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;
    position: relative;
}
nav img{
    width: 120px;
}

.links{
    font-size: 19px;
    list-style: none;
    display: inline-block;
    margin: 8px 12px;
    color: white;
    cursor: pointer;
    font-family: "Merriweather Sans", serif;
}
.links::after{
    content: "" ;
    width: 0%;
    height: 2px;
    display: block;
    background-color: #f44336;
    margin: auto;
    transition: 0.5s;
}
.links:hover::after{
    width: 100%;
}
.collegename{
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-58%);
    font-family: "Merriweather Sans", serif;
}
.collegename h1{
    font-size: 48px;
}
.collegename p{
    font-weight: 100;
    margin:10px 0 40px;
    font-size: 36px;
}

.campuslife{
    font-family: "Inria Sans", serif;
    background-color: #efefef;
    padding-bottom: 5%;
    padding-top: 40px;
    margin-bottom: 0px;
}
.campuslife h1{
    font-size: 64px;
    margin: 20px;
    font-family: "Inria Sans", serif;
    text-align: center;
} 
.campuslife h2{
    text-align: left;
    font-size: 24px;
    padding-top: 2px;
}

.campuslife-row{
    width: 85%;
    margin: auto;
    display: flex;
}
.camp-col{
    flex-basis: 31%;
    padding: 13px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.director-coltwo{
    font-family: "Inria Sans", serif;
}
.camp-col img{
    width: 100%;
    border-radius: 10px;
}
.research{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Inria Sans", serif;
}
.research h1{
    width: 80%;
    font-size:64px ;
    font-family: "Inria Sans", serif;
    margin: 70px auto;
    text-align: center;
}
.rowone{

    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.rowone .colone{
    padding: 10px;
    flex-basis: 150%;
    margin-right: 15px;
}
.rowone .coltwo{
    padding: 40px;
    flex-basis: 150%;
    text-align: left;

}
.colone img{
    border: solid black 2px;
    border-radius: 10px;
    width: 100%;
}
.rowtwo{
    width: 80%;
    margin: 10px auto ;
    display: flex;
    justify-content: space-between;
}
.rowtwo .colone{
    padding: 40px;
    flex-basis: 150%;
    text-align: left;
}
.research h2{
    font-size: 43px;
    margin-bottom: 5px;
}
.research p{
    font-size: 34px;
}

.rowtwo .coltwo{
    padding: 10px;
    flex-basis: 150%;
}
.coltwo img{
    border: solid black 2px;
    border-radius: 10px;
    width: 100%;
}
.director-row{
    width: 95%;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    background-color:#eff0ff ;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; 
    flex-direction: row;
    gap: 5px;
}
.director-colone{
    margin: 10px;
    margin-left: 200px;
}
.director-coltwo{
    margin-left: 120px;
    padding-top: 60px;
    padding-right: 10px; 
    font-size: xx-large;
}
footer{
    background-color: #0655a5;
    padding: 30px 0;
}
footer .row{
    width: 80%;
    margin: auto;
    margin-top: 0px;
    bottom: 0;
    display: flex;
    position: relative;
}
.footer-col{
    padding: 10px;
    flex-basis: 31%;
    margin: 15px;
}
footer h5{
    margin: 10px;
    font-size:24px;
    text-decoration: underline;
    margin-bottom: 8px;
    font-family: "Inria Sans", serif;
    color: white;
}

.footer-col p {
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}
.footer-col hr{
    margin-left: 20px;
    border-color: rgba(0,0,0,0.6);
    width: 60%;
}
.social-media{
    display: flex;
    position: absolute;
    bottom: 55px;
    right: 30px;
}
.social{
    margin: 8px;
}
.imp-link{
    padding: 10px 10px 10px 20px;
    margin: 10px 7px 5px;
    font-size: 20px;
    font-family: "Inria Sans", serif;
}
.imp-link::before{
    margin: 5px;
    font-size: 35px;
    content: "\2022";
}
.qui-links{
    padding: 10px 10px 10px 20px;
    margin: 10px 7px 5px;
    font-size: 20px;
    font-family: "Inria Sans", serif;
}
.qui-links::before{
    margin: 5px;
    font-size: 35px;
    content: "\2022";
}
.contact{
    font-family: "Strait", serif;
}
.contact-slide p{
    font-size: 15px;
    font-family: "Strait", serif;
    font-family: "Inria Sans",serif;
}
.social-media i{
    margin: 6px;
    font-size: 45px;
}