* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

.main_logo {
    aspect-ratio: 321.997/310;
    width: 100px;
    margin-left: 5%;
}

.page-start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw-20px);
    z-index: 0;
    background-image: url("images/intro.jpg");
    background-size: cover;
    background-repeat: none;
    position: relative;
}

.main-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    padding-top: 4%;
}

.iiitn-logo {
    flex: 3;
}

.header {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    flex-grow: 1;
    flex-basis: min-content;
    padding: 0 20px;
    cursor: pointer;
}

@media screen and (orientation: portrait) {
    body {
        background-color: black;
    }
}

.sub-header {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    top: 128px;

}

.animate-dd-button {
    cursor: pointer;
}

.underline {
    position: relative;
    text-decoration: none;
}

.underline::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -3px;
    height: 3px;
    transition: left 0.5s ease, right 0.5s ease;
    background-color: #f44336;
    border-radius: 1.5px;
}

.underline:hover::after {
    left: 0;
    right: 0;
}

.introduction {
    margin-top: 10%;
}

.college_name,
.college_tip {
    text-align: center;
    color: white;
}

.college_name {
    font-family: "Merriweather Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}

.college_tip {
    font-family: "Inria Sans", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
}

.drop-down-arrow {
    position: absolute;
    left: 50%;
    top: 95%;
    bottom: 0%;
    background-color: transparent;
    border: none;
}

.drop-down-arrow :hover {
    filter: brightness(100%);
    animation: shake 0.5s ease-in 3;
}

@keyframes shake {
    0% {
        transform: translateY(0vh);
    }

    50% {
        transform: translateY(-1vh);
    }

    100% {
        transform: translateY(0);
    }
}

.headlines-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.headlines-div-horz{
    display: flex;
    flex: 1;
}
.headlines-div-gap{
    flex: 1;
}
.headlines{
    margin-top: 40px;
    border-radius: 10px;
    background-color: #e4e4e4;
    flex: 12;
    display: flex;
    flex-direction: column;
}
.heading-button{
    display: inline;
    color: white;
    font-weight: 700;
    font-family: "Inria Sans","Serif";
    font-size: 40px;
    background-color: #4C40B4;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px 70px;
}
.heading{
    display: flex;
    align-items: center;
    flex: 1;
}
.content-div{
    flex: 5;
    background-color: black;
    display: flex;
}
.content-gap{
    flex: 1;
    background-color: lightblue;
}
.content{
    display: flex;
    align-items: center;
    flex:10;
    background-color: lightpink;
}
.main-headline-content{
    flex: 1;
    background-color: black;
    display: flex;
    align-items: center;
}

.director-row {
    width: 95%;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
    background-color: #eff0ff;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.director-colone {
    margin: 10px;
    margin-left: 200px;
    font-family: "Inria Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 10px;
}

.director-coltwo {
    margin-left: 10px;
    padding-top: 60px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Inria Sans", serif;
}

.director-col img {
    width: 100%;
}

footer {
    background-color: #0655a5;
    padding: 30px 0;
}

footer .row {
    width: 80%;
    margin: auto;
    margin-top: 0px;
    bottom: 0;
    display: flex;
    position: relative;
}

.footer-col {
    padding: 10px;
    flex-basis: 31%;
    margin: 15px;
}

footer h5 {
    margin: 10px;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 8px;
    font-family: "Inria Sans", serif;
    color: white;
}

.footer-col p {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

.footer-col hr {
    margin-left: 20px;
    border-color: rgba(0, 0, 0, 0.6);
    width: 60%;
}

.social-media {
    display: flex;
    position: absolute;
    bottom: 55px;
    right: 30px;
}

.social {
    margin: 8px;
}

.imp-link {
    padding: 5px 5px 5px 10px;
    margin: 3px 7px 5px;
    font-size: 20px;
    font-family: "Inria Sans", serif;
}

.imp-link::before {
    margin: 5px;
    font-size: 35px;
    content: "\2022";
}

.qui-links {
    padding: 10px 10px 10px 20px;
    margin: 10px 7px 5px;
    font-size: 20px;
    font-family: "Inria Sans", serif;
}

.qui-links::before {
    margin: 5px;
    font-size: 35px;
    content: "\2022";
}

.contact {
    font-family: "Strait", serif;
}

.contact-slide p {
    font-size: 15px;
    font-family: "Strait", serif;
    font-family: "Inria Sans", serif;
}

.social-media i {
    margin: 6px;
    font-size: 45px;
}

.img-1,
.img-2,
.img-3 {
    width: 250px;
    margin-top: 75px;
    margin-bottom: 0;
}

.clicks-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1450px) {
    .clicks-grid {
        grid-template-columns: 1fr;
    }

    .img-1,
    .img-2,
    .img-3 {
        margin-left: 80px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.img-responsive {
    width: 500px;
}