* {
    margin: 0;
    padding: 0;
}


.why {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 58px;
    margin: 30px;
}

.intro-pic {
    width: 100%;
}

.container {
    padding: 5% 10%;
}

.AA {
    background-color: #4C40B4;
    width:fit-content;
    padding: 1% 2%;
    border-radius: 6px;
    margin-left: 1%;
}

.AA-text {
    color: #FFFFFF;
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
}

.vertical-line {
    margin-left: 40px;
}

.AA-info {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding: 5% 0%;
}

.IC {
    background-color: #4C40B4;
    width:fit-content;
    padding: 1% 2%;
    border-radius: 6px;
    margin-left: 1%;
}

.IC-text {
    color: #FFFFFF;
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
}

.IC-info {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding: 5% 0%;
}

.RI {
    background-color: #4C40B4;
    width:fit-content;
    padding: 1% 2%;
    border-radius: 6px;
    margin-left: 1%;
}

.RI-text {
    color: #FFFFFF;
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
}

.RI-info {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding: 5% 0%;
}

.EIE {
    background-color: #4C40B4;
    width:fit-content;
    padding: 1% 2%;
    border-radius: 6px;
    margin-left: 1%;
}

.EIE-text {
    color: #FFFFFF;
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
}

.EIE-info-1 {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding: 5% 0 0 0;
}

.EIE-info-2 {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    padding-bottom: 0;
}

.placement-comp {
    width: 100%;
}

.quote-img-1 {
    width: 100%;
}

.quoting-1 {
    position: relative;
}

.quote-1-text {
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.7);
}

.quote-1-contain {
    width: 39%;
    position: absolute;
    left: 11%;
    top: 33%;
}

.guide {
    font-family: "Inria Sans", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin: 7%;
}

.guide-contain {
    margin: 5% 7%;
}

.list {
    display: flex;
    flex-direction: row;
    height:inherit;
    padding-left: 10%;
}

.list-data li {
    font-family: "Inria Sans", serif;
    font-style: normal;
    font-size: 28px;
    padding:1%;
    width:max-content;
}

.list-data p {
    font-family: "Inria Sans", serif;
    font-style: normal;
    font-size: 28px;
    padding:1%;
}

.list-color {
    width: 45px;
    height: inherit;
    background-color: #A2A7A1;
}

.quoting-2 {
    position: relative;
}

.quote-2-text {
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.7);
}

.quote-2-contain {
    width: 39%;
    position: absolute;
    left: 11%;
    top: 33%;
}

.quote-img-2 {
    width: 100%;
}
