.about-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 125px;
    margin-left: 34%;
    margin-top: -4px;
}

.department-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 175px;
    margin-top: -4px;
    margin-left: 42%;
}

.students-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 175px;
    margin-left: 53%;
    margin-top: -4px;
}

.admissions-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 175px;
    margin-left: 62%;
    margin-top: -4px;
}

.placements-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 175px;
    margin-left: 73%;
    margin-top: -4px;
}

.contact-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 150px;
    margin-left: 82%;
    margin-top: -4px;
}

.others-style {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 150px;
    margin-left: 90%;
    margin-top: -4px;
}

.about-button {
    background-color: rgb(201,200,200);
    border: none;
    padding: 8px 0 5px 6px;
    border-bottom: 1px solid black;
    width: 125px;
    text-align: start;
    cursor: pointer;
}

.department-button {
    background-color: rgb(201,200,200);
    border: none;
    padding: 8px 0 5px 6px;
    border-bottom: 1px solid black;
    width: 175px;
    text-align: start;
    cursor: pointer;
}

.students-button {
    background-color: rgb(201,200,200);
    border: none;
    padding: 8px 0 5px 6px;
    border-bottom: 1px solid black;
    width: 175px;
    text-align: start;
    cursor: pointer;
}

.admissions-button {
    background-color: rgb(201,200,200);
    border: none;
    padding: 8px 0 5px 6px;
    border-bottom: 1px solid black;
    width: 175px;
    text-align: start;
    cursor: pointer;
}

.placements-button {
    background-color: rgb(201,200,200);
    border: none;
    padding: 8px 0 5px 6px;
    border-bottom: 1px solid black;
    width: 175px;
    text-align: start;
    cursor: pointer;
}

.contact-button {
    background-color: rgb(201,200,200);
    border: none;
    padding: 8px 0 5px 6px;
    border-bottom: 1px solid black;
    width: 150px;
    text-align: start;
    cursor: pointer;
}

.others-button {
    background-color: rgb(201,200,200);
    border: none;
    padding: 8px 0 5px 6px;
    border-bottom: 1px solid black;
    width: 150px;
    text-align: start;
    cursor: pointer;
}
